@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 0, 0%, 7%;
	--card: 0, 0%, 9%;
	--border: 240, 3.7%, 15.9%;
}

* {
	@apply border-border;
}

body {
	@apply bg-background;
}

p {
	font-weight: 300;

}